################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/INFOGR2020Tmpl8 (1)/bin/Debug
